.titulo-principal{
    padding-left: 30px;
    color: white;
    
}

#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align:center;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision{
    font-size:20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
}



.imagenDiferenciales{
    width: 50%;
}
header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #eca023;
  }
  /*ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}*/
